.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--white-color);
    overflow-x: hidden;
    margin-top: 20px;
}
.heading h1{
    margin: 0;
    position: relative;
    padding-right: 35px;
    font-weight: 400;
}
.heading h1:before{
    content: '';
    display: block;
    height: 1px;
    width: 300%;
    position: absolute;
    top: 50%;
    left: 100%;
    background: var(--normal-color);
}
.heading svg{
    margin-right: 14px;
}