.steps {
  display: flex;
  color: var(--secondary-color);
}
.step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  padding: 14px 45px;
}

.step-icon {
  margin-right: 15px;
  margin-bottom: -2px;
  width: 24px;
  height: 24px;
  color: var(--comment-color);
}
.step-icon svg{
  width: 100%;
  height: 100%;
}
.step-title {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  color: var(--comment-color);
}
.step-arrow {
  margin: 0 30px;
  width: 51px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='51' height='10' viewBox='0 0 51 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 5L0 5M50 5L46 1M50 5L46 9' stroke='%23D9D9D9'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.step.active{
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.step.active,
.step.active .step-title {
  color: var(--black-color);
}
@media only screen
and (max-width: 1199px){
  .step-title{
    font-size: 1.5rem;
  }
  .step-arrow {
    margin: 0 15px;
  }
}

@media only screen
and (max-width: 767px){
  .step{
    padding: 10px 15px;
  }
  .step-title{
    font-size: 1.25rem;
  }
  .step-icon{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    margin-bottom: 0;
  }
}

@media only screen
and (max-width: 374px){
  .step{
    padding: 10px 10px;
  }
  .step-title {
    font-size: 1rem;
  }
}