.ant-carousel{
  padding-bottom: 70px;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
  padding: 0 10px;
}

.ant-carousel .slick-slide p {
  color: var(--black-color);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-top: 5px;
}

.ant-carousel .slick-list {
  margin: 0 -10px;
}

.ant-carousel .slick-dots-bottom{
  bottom: -60px;
}
.ant-carousel .slick-dots li{
  width: 2rem;
  height: 6px;
}
.ant-carousel .slick-list .slick-slide {
  pointer-events: initial;
}
.ant-carousel .slick-dots li.slick-active{
  width: 3rem
}
.ant-carousel .slick-dots li button{
  background: var(--secondary-color);
  opacity: 1;
  height: 6px;
  border-radius: 1px;
  font-size: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  line-height: 39px;
}
.ant-carousel .slick-dots li.slick-active button{
  background: var(--accent-color);
  color: var(--accent-color);
}
label{
  color: var(--black-color);
  padding-bottom: 5px;
  display: inline-block;
  padding-top: 12px;
  font-size: 0.875rem;
}
.description{
  font-size: 1rem;
  color: var(--black-color);
  line-height: 1.5;
  padding-bottom: 25px;
  padding-top: 35px;
  margin-bottom: 0;
  width: 700px;
  max-width: 100%;
  font-weight: 600;
}
.required-info{
  color: var(--error-color);
  margin-bottom: 0;
  line-height: 1.5;
  padding-bottom: 35px;
}
.description-info{
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 0;
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.ant-collapse{
  background: transparent;
}
.ant-radio-button-wrapper{
  height: 40px;
  line-height: 38px;
  font-size: 1rem;
  transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s, font-weight 0.3s;
}
.ant-picker-range{
  display: flex;
}
.ant-collapse-borderless > .ant-collapse-item{
  border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
  color: var(--accent-color);
  text-decoration: underline;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:before{
  content: '';
  display: block;
  height: 1px;
  background: var(--secondary-color);
  width: 85%;
  position: absolute;
  top:50%;
  left: 15%;
  transition: 0.5s ease-in-out;
}
.ant-collapse > .ant-collapse-item.ant-collapse-item-active > .ant-collapse-header:before{
  width: 0;
}
.ant-collapse-content > .ant-collapse-content-box{
  padding: 0;
}
.ant-collapse-content > .ant-collapse-content-box .ant-col{
  position: relative;
}
.col-border-left:before{
  content: '';
  display: block;
  height: 90%;
  background: var(--secondary-color);
  width: 1px;
  position: absolute;
  bottom: 0;
  left: -20px;
}
.col-border-left.border-97:before{
  height: 96%;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content{
  padding-bottom: 20px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
  left: 0;
}
.warning{
  font-size: 0.875rem;
  line-height: 21px;
  color: var(--warning-color);
  margin: 0 auto;
  width: 450px;
  max-width: 100%;
}

.input-error, .input-error .ant-select-selector{
  border-color: var(--error-color) !important;
}

.message-error{
  color: var(--error-color);
  font-size: 0.875rem;
  line-height: 1.5;
  padding-top: 5px;
}
.anticon{
  font-size: 1rem;
}
.message-info{
  font-size: 0.875rem;
  line-height: 1.33;
  color: var(--black-color);
  position: relative;
  padding-left: 20px;
  margin-top: 12px;
  padding-bottom: 10px;
}
.message-info .anticon{
  color: var(--accent-color);
  position: absolute;
  left: 0;
  top: 0;
}
.message-comment{
  font-size: 14px;
  color: var(--comment-color);
}

.ant-btn{
  background: var(--accent2-color);
  color: var(--btn-color);
  height: 40px;
  border: 1px solid transparent;
  font-weight: 600;
}
.ant-btn:hover, .ant-btn:focus{
  border: 1px solid var(--accent2-color);
  background: transparent;
  color: var(--accent2-color);
}
.link{
  text-decoration: underline;
  color: var(--accent-color);
}
.ant-checkbox-wrapper{
  margin-top: 15px;
}
.ant-select-item-option-content, .ant-select-selection-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ant-select-selection-item{
  color: var(--black-color);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  color: var(--black-color);
}
.ant-select-selection-item svg, .ant-select-item-option-content svg{
  margin-right: 8px;
}
.ant-picker-input{
  flex-direction: row-reverse;
}
.ant-picker-suffix{
  margin-left: 0;
  margin-right: 8px;
}
.ant-picker-ok .ant-btn-sm{
  height: 35px;
}
.ant-upload.ant-upload-drag{
  height: auto;
}
.ant-input, .ant-select{
  height: 40px;
}
.ant-radio-button-wrapper:first-child{
  border-color: var(--accent-color);
}
.ant-radio-button-wrapper{
  border-color: var(--accent-color);
}
.ant-picker-suffix {
  margin-left: 0;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
  font-size: 1rem;
}
.ant-upload.ant-upload-drag{
  background: var(--white-color);
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  color: var(--black-color);
  font-weight: 600;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
  color: var(--black-color);
}
.ant-upload-list-item-info .ant-upload-text-icon .anticon, .ant-upload-list-item-info .anticon-loading .anticon, .ant-upload-list-item-name{
  color: var(--error-color);
}

@media only screen
and (max-width: 767px){
  .description-info{
    padding-bottom: 40px;
  }
  .required-info{
    padding-bottom: 20px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header:before{
    display: none;
  }
  .col-border-left:before{
    left: -10px;
  }
}

@media only screen
and (max-width: 565px){
  .ant-carousel .slick-dots-bottom{
    bottom: -50px;
  }
}